
.button{
    -fx-background-color: #93d745;
    -fx-font-family: "Arial Black";
    -fx-font-size: 30px;
   /* -fx-background-radius: 10pt;*/
}
.button:hover{
    -fx-background-color: #9dc470;
    -fx-font-family: "Arial Black";

}

.combo-box{
     -fx-background-color: #7c7878;
     -fx-font-family: "Arial";
     -fx-text-alignment: center;
     -fx-font-size: 13px;
   /*  -fx-background-radius: 5pt 5pt;*/
     -fx-text-fill: #efefef;
     -fx-prompt-text-fill: #d0d0d0;

 }

.combo-box .list-cell
{
    -fx-background:#7c7878;
    -fx-background-color: transparent;
    -fx-text-fill: #efefef;
    -fx-text-alignment: center;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #7c7878;
    -fx-font-family: "Arial";
    -fx-text-alignment: center;
    -fx-font-size: 13px;
   /* -fx-background-radius: 5pt 5pt;*/
    -fx-text-fill: #4b4b4b;
    -fx-prompt-text-fill: #d0d0d0;
    -fx-background-insets: 0, 1;

}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background-color:  #7c7878;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color:  #93d745;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #9dc470;
    -fx-text-fill: -fx-text-inner-color;
}


.combo-box-base:hover
{
    -fx-color: #9dc470;

}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.zoekbalk{
    -fx-background-color: #7c7878 ;
    -fx-text-fill: #efefef;
    -fx-font-size: 15pt;
    -fx-prompt-text-fill: #d0d0d0;
    -fx-font-family: Arial;
    -fx-border-color: #605d5d;
    -fx-border-width: 2;
    -fx-border-radius: 3pt;

}
/*sliders*/
/* Styling the slider track */
.slider > .track {
    -fx-background-color: #7c7878;

}
/* Styling the slider thumb */
.slider > .thumb {
    -fx-background-color: #93d745;
}

.check-box {
    mark-color: #efefef;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: #9dc470;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #7c7878;
    -fx-pref-width: 20; /*breedte van checkboxes*/
    -fx-pref-height: 20; /*hoogte van checkboxes*/
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}





.radio-button > .radio{
    -fx-background-color: #7c7878;
}

.radio-button:selected>.radio{
    -fx-background-color: #9dc470;
}

.radio-button > .radio>.dot{
    -fx-background-color:none;
}

.radio-button:selected>.radio>.dot{
    -fx-background-color: #9dc470;
}

.titled-pane > .title {
    -fx-background-color: #b5db9d;
   -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 7; /* 2 10 3 10 */
}

.spinner{
    -fx-background-color: #7c7878;

    -fx-text-fill: #efefef;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button
{

    -fx-body-color: #93d745;
    -fx-border-color: none;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover{
    -fx-body-color: #9dc470;
    -fx-border-color: none;
}

.list-view{
}

